@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Gin;
  src: url('/fonts/Gin/Gin-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: IBMPlexSans;
  src: url('/fonts/IBMPlexSans/IBMPlexSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: IBMPlexSans;
  src: url('/fonts/IBMPlexSans/IBMPlexSans-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: IBMPlexSans;
  src: url('/fonts/IBMPlexSans/IBMPlexSans-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: IBMPlexSans;
  src: url('/fonts/IBMPlexSans/IBMPlexSans-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: IBMPlexSans;
  src: url('/fonts/IBMPlexSans/IBMPlexSans-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: IBMPlexSans;
  src: url('/fonts/IBMPlexSans/IBMPlexSans-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: IBMPlexSans;
  src: url('/fonts/IBMPlexSans/IBMPlexSans-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: IBMPlexSans;
  src: url('/fonts/IBMPlexSans/IBMPlexSans-SemiBoldItalic.ttf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: IBMPlexSans;
  src: url('/fonts/IBMPlexSans/IBMPlexSans-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: IBMPlexSans;
  src: url('/fonts/IBMPlexSans/IBMPlexSans-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-gin;
}

a,
input,
button {
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-neutral-400 focus-visible:ring-offset-2 focus-visible:ring-offset-neutral-50 dark:focus-visible:ring-neutral-600 dark:focus-visible:ring-offset-neutral-900;
}
